.container-fluid{
	margin-top: 7%;
	width: 40%; 
	text-align: center;
	padding: 7%;
	border-radius: 20px;
	background-color: #90e0ef;
	border: 2px solid #000;


}

.h3{
	margin-left: 5%;
	letter-spacing: 5px;
}

body{
	background-color: #006d77;
}

nav{
	background-color: #007bff;
	border-radius: 10px;
	color: #f0efeb;

}


form{
	margin-top: 5%;
}

input{
	text-align: center;
}

button{
	margin-top: 15%;
}

#totalTip {
  font-size: 30px;
  margin-top: 5px;
  text-align: center;
  background-color: #fff;
  border-radius: 20px;
  border: 2px solid #000;
  padding: 5%;
}

#totalTip:before {
  content: "Tip amount";
  font-size: 20px;
  font-weight: bold;
  display: block;
  text-transform: uppercase;
}

#totalTip sup {
  font-size: 20px;
  top: -18px;
}

#totalTip small {
  font-size: 20px;
  font-weight: bold;
  display: block;
}